body,html {
     height: 100%;
  margin: 0;
    position: relative; /* For scrollspy */
    font-family: "Lato", sans-serif;
    line-height: 1.4;
}


* {
  box-sizing: border-box;
}



/* Keep code small in tables on account of limited space */
.table code {
    font-size: 13px;
    font-weight: normal;
}

/* Inline code within headings retain the heading's background-color */
h2 code,
h3 code,
h4 code {
    background-color: inherit;
}


/*DenAnn Icon*/
.da-icon {
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-color: #482d7a;
    border-radius: 18%;
    padding: 5px;
}

/*DenAnn Icon*/
.da-booticon {
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: #563d7c;
    border-radius: 15%;
}

.da-booticon-sm {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
}

.da-booticon-lg {
    width: 85px;
    font-size: 48px;
}

.da-booticon-inverse {
    color: #563d7c;
    background-color: #fff;
}

.da-booticon-outline {
    background-color: transparent;
    border: 1px solid #cdbfe3;
}




#content:focus {
    outline: none;
}

.da-nav {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0;
}

.bs-home-nav .bs-nav-b {
    display: none;
}

.da-nav .navbar-brand,
.da-nav .navbar-nav > li > a {
    font-weight: 500;
    font-size: medium;
    color: #563d7c;
}

    .da-nav .navbar-nav > li > a:hover,
    .da-nav .navbar-nav > .active > a,
    .da-nav .navbar-nav > .active > a:hover {
        color: #321f55;
        background-color: #eeeaf7;
    }

.da-nav .navbar-toggle .icon-bar {
    background-color: #563d7c;
}

.da-nav .navbar-header .navbar-toggle {
    border-color: #fff;
}

    .da-nav .navbar-header .navbar-toggle:hover,
    .da-nav .navbar-header .navbar-toggle:focus {
        background-color: #f9f9f9;
        border-color: #f9f9f9;
    }


/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.da-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    color: #f9f9f9;
    text-align: center;
    background-color: #2d5f7a;
}

    .da-footer a {
        color: #fff;
    }

.da-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

    .da-footer-links li {
        display: inline-block;
    }

        .da-footer-links li + li {
            margin-left: 15px;
        }

@media (min-width: 768px) {
    .da-footer {
        text-align: left;
    }

        .da-footer p {
            margin-bottom: 0;
        }
}


/* Share masthead with page headers */
.da-masthead,
.da-header {
    position: relative;
    padding: 10px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #482d7a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#482d7a));
    background-image: -webkit-linear-gradient(top, #563d7c 0%, #482d7a 100%);
    background-image: -o-linear-gradient(top, #563d7c 0%, #482d7a 100%);
    background-image: linear-gradient(to bottom, #563d7c 0%, #482d7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#482d7a', GradientType=0);
    background-repeat: repeat-x;
}

    /* Masthead (headings and download button) */
    .da-masthead .da-booticon {
        margin: 0 auto 10px;
    }

    .da-masthead h1 {
        font-weight: 300;
        line-height: 1;
        color: #fff;
    }

    .da-masthead .lead {
        margin: 0 auto 0px;
        font-size: 20px;
        color: #fff;
    }

    .da-masthead .version {
        margin-top: -15px;
        margin-bottom: 30px;
        color: #9783b9;
    }

    .da-masthead .btn {
        width: 100%;
        padding: 15px 30px;
        font-size: 20px;
    }

@media (min-width: 480px) {
    .da-masthead .btn {
        width: auto;
    }
}

@media (min-width: 768px) {
    .da-masthead {
        /*padding: 80px 0;*/
    }

        .da-masthead h1 {
            font-size: 60px;
        }

        .da-masthead .lead {
            font-size: 24px;
        }
}

@media (min-width: 992px) {
    .da-masthead .lead {
        /*width: 80%;*/
        font-size: 30px;
    }
}

/* Nullify ill-advised printing of hrefs; see #18711 */
@media print {
    a[href]:after {
        content: "" !important;
    }
}


.social {
    display: block;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Flex Slider css *****************************************************************************************************************
********************************************************************************************************************************/
.carousel {
    margin-bottom: 40px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    top: 35%;
}

.carousel-control .fa .fa-chevron-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-text h1 {
    margin: 0 0 0px 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    line-height: 1.4em;
    background: rgba(0,0,0,0.6);
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

.carousel-text .da_blog_read_btn {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    transition: all 0.4s ease 0s;
    padding: 10px 10px 10px 10px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    margin-bottom: 20px;
    box-shadow: 0px !important;
}

.carousel-list li {
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    overflow: hidden;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 23px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

    .carousel-list li:nth-child(1) {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -ms-animation-delay: .3s;
        -o-animation-delay: .3s;
        animation-delay: .3s;
    }

    .carousel-list li:nth-child(2) {
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        -ms-animation-delay: .5s;
        -o-animation-delay: .5s;
        animation-delay: .5s;
    }

    .carousel-list li:nth-child(3) {
        -webkit-animation-delay: .7s;
        -moz-animation-delay: .7s;
        -ms-animation-delay: .7s;
        -o-animation-delay: .7s;
        animation-delay: .7s;
    }


.da_slider_shadow {
    background: #2d5f7a no-repeat top center;
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 99;
    width: 100%;
    background-size: 100% 100%;
    height: 20px;
}

/** slider css ***/
.carousel-list li {
    background: rgba(45, 95, 122, 0.76);
}


.da_blog_read_btn {
    border: 1px solid #2d5f7a;
    background-size: 100% 200%;
    background-color: rgba(45, 95, 122, 0.76);
    /*background-image: linear-gradient(to bottom, #2d5f7a 50%, #fff 50%);*/
}

    .da_blog_read_btn i {
        margin-right: 5px;
    }

    .da_blog_read_btn:hover {
        background-position: 0 -100%;
        background-color: #2d5f7a;
    }

/** service  section css ***/

.da_service {
    padding-top: 20px;
}

.da_service_area {
    border-radius: 0px;
    margin-bottom: 65px;
    transition: all 0.4s ease 0s;
}

.da_service_iocn {
    width: 90px;
    height: 90px;
    display: block;
    margin-right: 20px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

    .da_service_iocn i {
        color: #fff;
        font-size: 50px;
        position: relative;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 90px;
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }

.da_service_detail h3 {
    font-size: 24px;
    letter-spacing: normal;
    line-height: 32px;
    word-wrap: break-word;
    margin: 0 0 10px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.da_service_detail p {
    font-size: 16px;
    line-height: 27px;
}

.da_service_detail a {
    color: #2d5f7a;
    text-decoration: none;
}

.da_service_area:hover .da_service_iocn {
    background-position: 0 -100%;
}

.da_service_iocn {
    border: 4px solid #2d5f7a;
    background-color: #2d5f7a;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #2d5f7a 50%, #fff 50%);
}

.da_service_area:hover .da_service_iocn i {
    color: #2d5f7a;
}

.da_service_area:hover .da_service_iocn {
    background-color: #ffffff;
}

.da_heading_title {
    display: block;
    margin: 0px 0 50px;
    text-align: center;
    color: #2d5f7a;
}

    .da_heading_title h3 {
        display: inline-block;
        margin-top: 0px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        line-height: 40px;
    }

    .da_heading_title h3 {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }



    .carousel-text h1, .da_heading_title h3, .da_service_detail h3, .da_home_portfolio_caption h3 a, .da_blog_thumb_wrapper h2 a, .da_footer_widget_title, .da_header_breadcrum_title h1, .da_fuul_blog_detail_padding h2 a, .da_fuul_blog_detail_padding h2, .da_sidebar_widget_title h2 {
        font-family: Open Sans;
    }


/* Isotope Animating
 * -------------------------- */
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
    }

        /**** disabling Isotope CSS3 transitions ****/

        .isotope.no-transition,
        .isotope.no-transition .isotope-item,
        .isotope .isotope-item.no-transition {
            -webkit-transition-duration: 0s;
            -moz-transition-duration: 0s;
            -ms-transition-duration: 0s;
            -o-transition-duration: 0s;
            transition-duration: 0s;
        }

.panel-body {
    padding: 12px;
}

.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top,#296970 0,#51b4bf 100%);
    background-image: -o-linear-gradient(top,#94c0d7 0,#dbeaf2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#94c0d7),to(#dbeaf2));
    background-image: linear-gradient(to bottom,#2d597a 0,#4c95bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c0d7', endColorstr='#dbeaf2', GradientType=0);
    background-repeat: repeat-x;
    color: #f9f9f9;
    font-size: 14px;
}


.dark {
    background: #1c1c1e;
}

    .dark * {
        color: #fff;
    }

    .dark a,
    .dark a:visited {
        color: #f45376;
    }

        .dark a:hover,
        .dark a:visited:hover {
            text-decoration: underline;
        }

        .dark a.button {
            border: 1px solid #fff;
            background: rgba(255, 255, 255, 0);
            color: #fff;
        }

            .dark a.button:hover {
                background: #fff;
                color: #000;
            }

            .dark a.button.fill {
                background: #fff;
                color: #000;
            }

                .dark a.button.fill:hover {
                    background: rgba(255, 255, 255, 0.5);
                    color: #fff;
                }

    .dark code,
    .dark pre {
        background-color: rgba(248, 248, 248, 0.1);
    }

    .dark + .triangle:before {
        border-color: transparent transparent transparent #1c1c1e;
    }

.light {
    background: #fff;
}

    .light * {
        color: #000;
    }

    .light a,
    .light a:visited {
        color: #f45376 !important;
    }

        .light a:hover,
        .light a:visited:hover {
            text-decoration: underline;
        }

        .light a.button {
            border: 1px solid #000;
            background: transparent;
            color: #000;
        }

            .light a.button:hover {
                background: #000;
                color: #fff;
            }

            .light a.button.fill {
                background: #000;
                color: #fff;
            }

                .light a.button.fill:hover {
                    background: rgba(0, 0, 0, 0.2);
                    color: #000;
                }

    .light code,
    .light pre {
        background-color: #f8f8f8;
    }

    .light + .triangle:before {
        border-color: transparent transparent transparent #fff;
    }

.yellow {
    background: #FFCC01;
}

    .yellow * {
        color: #000;
    }

    .yellow a,
    .yellow a:visited {
        color: #f42146;
    }

        .yellow a.button {
            border: 1px solid #000;
            background: transparent;
            color: #000;
        }

            .yellow a.button:hover {
                background: #000;
                color: #FFCC01;
            }

            .yellow a.button.fill {
                background: #000;
                color: #FFCC01;
            }

                .yellow a.button.fill:hover {
                    background: rgba(0, 0, 0, 0.2);
                    color: #000;
                }

    .yellow + .triangle:before {
        border-color: transparent transparent transparent #FFCC01;
    }

.blue {
    background: #51c1f5;
}

    .blue * {
        color: #fff;
    }

    .blue a,
    .blue a:visited {
        text-decoration: underline;
    }

        .blue a:hover,
        .blue a:visited:hover {
            text-decoration: none;
        }

        .blue a.button {
            border: 1px solid #fff;
            background: rgba(255, 255, 255, 0);
            text-decoration: none;
        }

            .blue a.button:hover {
                background: #fff;
                color: #51c1f5;
            }

            .blue a.button.fill {
                background: #fff;
                color: #51c1f5;
            }

                .blue a.button.fill:hover {
                    background: rgba(255, 255, 255, 0.5);
                    color: #fff;
                }

    .blue + .triangle:before {
        border-color: transparent transparent transparent #51c1f5;
    }

.purple {
    background: #C2357B;
}

    .purple * {
        color: #fff;
    }

    .purple a,
    .purple a:visited {
        text-decoration: underline;
    }

        .purple a:hover,
        .purple a:visited:hover {
            text-decoration: none;
        }

        .purple a.button {
            border: 1px solid #fff;
            background: rgba(255, 255, 255, 0);
            text-decoration: none;
        }

            .purple a.button:hover {
                background: #fff;
                color: #C2357B;
            }

            .purple a.button.fill {
                background: #fff;
                color: #C2357B;
            }

                .purple a.button.fill:hover {
                    background: rgba(255, 255, 255, 0.5);
                    color: #fff;
                }

    .purple + .triangle:before {
        border-color: transparent transparent transparent #C2357B;
    }

.round {
    border-radius: 50%;
}

.text--center {
    text-align: center;
}

    .text--center .seperator {
        margin-right: auto;
        margin-left: auto;
    }

.center,
.center img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.dark,
.light,
.yellow,
.blue,
.purple {
    display: block;
    margin: 0 auto;
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
}

    .dark .row,
    .light .row,
    .yellow .row,
    .blue .row,
    .purple .row {
        margin: 0;
    }

        .dark .row div[class^="col-"],
        .light .row div[class^="col-"],
        .yellow .row div[class^="col-"],
        .blue .row div[class^="col-"],
        .purple .row div[class^="col-"] {
            margin-bottom: 50px;
        }


    .dark h1,
    .light h1,
    .yellow h1,
    .blue h1,
    .purple h1 {
        margin-bottom: 10px;
    }

    .dark h2,
    .light h2,
    .yellow h2,
    .blue h2,
    .purple h2,
    .dark h3,
    .light h3,
    .yellow h3,
    .blue h3,
    .purple h3 {
        margin: 0 0 5px;
    }

    .dark p,
    .light p,
    .yellow p,
    .blue p,
    .purple p {
        letter-spacing: 0.2px;
        margin: 0 auto;
    }

        .dark p + *,
        .light p + *,
        .yellow p + *,
        .blue p + *,
        .purple p + * {
            margin-top: 20px;
        }

    .dark a,
    .light a,
    .yellow a,
    .blue a,
    .purple a {
        position: relative;
        display: inline-block;
    }

    .dark img,
    .light img,
    .yellow img,
    .blue img,
    .purple img {
        padding: 20px 0;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 30px 0;
    }

    .dark li,
    .light li,
    .yellow li,
    .blue li,
    .purple li {
        padding: 2px 0 0;
    }

@media (min-width: 768px) {

    .dark,
    .light,
    .yellow,
    .blue,
    .purple {
        padding: 80px 0;
    }

        .dark img,
        .light img,
        .yellow img,
        .blue img,
        .purple img {
            padding: 0;
        }

    .blogarchive a {
        background: rgba(0, 0, 0, 0.02);
    }

    .blogarchive a {
        min-height: 250px;
        overflow: hidden;
    }

        .blogarchive a:hover h2 {
            -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
            transform: translateY(-3px);
        }

    .breadcrumb {
        padding: 4px 8px;
        position: absolute;
        left: 40px;
        top: 40px;
    }

        .breadcrumb a {
            font-size: 1.2rem;
        }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
    padding: 15px;
}

    .navbar-brand > img {
        height: 100%;
        padding: 15px;
        width: auto;
    }

.navbar-gap {
    padding-top: 10px;
    background-color: #482d7a;
}

.owl-carousel {
  position: relative;
  height: 450px;
}
.owl-carousel div:not(.owl-controls) {
  height: 100%;
}
.owl-carousel .owl-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.owl-carousel div.owl--text {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 98%;
    height: 8em;
    padding: 1em;
    background: rgba(22,18,35,0.87);
    border-radius: 4px;
    color: white;
}
.owl-carousel .owl-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: .9em;
  border-radius: 3px;
  color: #FFF;
  background: #000;
  opacity: .6;
  text-transform: capitalize;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: 5px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: 5px;
}

pre {

    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border : none;
    border-radius: 4px;
}