@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<main class="da-masthead" id="content" tabindex="-1">
    <div class="container">
        <h1>@CurrentPage.pageTitle</h1>
        <p class="lead">
            @CurrentPage.pageDescription
        </p>
    </div>
</main>

@CurrentPage.GetGridHtml("content", "home")