@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<main class="da-masthead" id="content" tabindex="-1">
    <div class="container">
        <span class="da-booticon da-booticon-lg da-booticon-outline">@CurrentPage._siteShortName</span>
        <p class="lead">
            @CurrentPage.siteDescription 
        </p>
    </div>
</main>

@Html.Raw(umbraco.library.RenderMacroContent(CurrentPage.slider, CurrentPage.Id))


<div class="da_service">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="da_heading_title">
                    <h3>Our Services</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row isotope" id="isotope-service-container">
            <div class="col-md-4 service">
                <div class="da_service_area appear-animation bounceIn appear-animation-visible">
                    <div class="da_service_iocn pull-left"><i class="fa fa-paint-brush"></i></div>
                    <div class="da_service_detail media-body">
                        <h3><a href="http://localhost/denann/#">Interior Decoration</a></h3>						<p></p><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="da_service_area appear-animation bounceIn appear-animation-visible">
                    <div class="da_service_iocn pull-left"><i class="fa fa-sun-o"></i></div>
                    <div class="da_service_detail media-body">
                        <h3><a href="http://localhost/denann/#">Solar</a></h3>
                        <p></p><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="da_service_area appear-animation bounceIn appear-animation-visible">
                    <div class="da_service_iocn pull-left"><i class="fa fa-building-o"></i></div>
                    <div class="da_service_detail media-body">
                        <h3><a href="http://localhost/denann/#">Construction</a></h3>						<p></p><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@CurrentPage.GetGridHtml("content", "home")

<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>