@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<main class="da-masthead" id="content" tabindex="-1">
    <div class="container">
        <span class="da-booticon da-booticon-lg da-booticon-outline">@CurrentPage._siteShortName</span>
        <p class="lead">
            @CurrentPage.siteDescription 
        </p>
    </div>
</main>

@Html.Raw(umbraco.library.RenderMacroContent(CurrentPage.slider, CurrentPage.Id))


@CurrentPage.GetGridHtml("content", "home")

<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hello</h4>
                </div>
                <div class="panel-body">
                    <img src="http://placehold.it/600x300" alt="" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>