@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Service>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<section class="bg-primary" id="@CurrentPage.Id">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                @CurrentPage.BodyContent
            </div>
        </div>
    </div>
</section>
@{
    var node = Model.Content.AncestorOrSelf(2).Children.Where("Name = \"Contact\"").FirstOrDefault();
    Html.RenderPartial("Contact", node);

}