<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
]>
<root id="-1">
  <site id="1053" key="f66604aa-dd7e-428a-bac0-ef367438d712" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-13T19:12:07" updateDate="2016-11-16T11:37:23" nodeName="DA" urlName="da" path="-1,1053" isDoc="" nodeType="1051" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="0" nodeTypeAlias="site">
    <umbracoRedirect><![CDATA[1057]]></umbracoRedirect>
    <description><![CDATA[interior, interior designers,wood working,interior furnishings,budget interior designers,solar panels,solar backup,solar inverter]]></description>
    <title><![CDATA[Denann - Ahead of the Future]]></title>
    <instagramLink><![CDATA[https://www.instagram.com/denann_interiors/?hl=en]]></instagramLink>
    <home id="1057" key="52783ef3-da61-4855-bc17-aa70d2cc4abd" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2016-11-13T19:38:47" updateDate="2016-11-16T14:00:43" nodeName="Home" urlName="home" path="-1,1053,1057" isDoc="" nodeType="1055" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1054" nodeTypeAlias="home">
      <title><![CDATA[Home]]></title>
      <nextPageText><![CDATA[Find Out More]]></nextPageText>
      <description><![CDATA[Denann provides the most innovative designs suited to your needs at very competitive pricing]]></description>
      <backgroundImage><![CDATA[1056]]></backgroundImage>
      <shortDescription><![CDATA[Denann]]></shortDescription>
      <textPage id="1059" key="a1b8c518-167f-4511-8df8-94386bb51e45" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2016-11-13T20:27:55" updateDate="2016-11-14T13:20:27" nodeName="About" urlName="about" path="-1,1053,1057,1059" isDoc="" nodeType="1058" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="0" nodeTypeAlias="textPage">
        <title><![CDATA[About]]></title>
        <nextPageText><![CDATA[Check Our Services]]></nextPageText>
        <description><![CDATA[You need custom interior solutions and custom designs or any other solutions contact us.]]></description>
        <shortDescription><![CDATA[We've got what you need!]]></shortDescription>
        <cssClassName><![CDATA[bg-primary]]></cssClassName>
      </textPage>
      <textPage id="1060" key="895432c3-ddea-47d6-ac11-938fc0747ab7" parentID="1057" level="3" creatorID="0" sortOrder="1" createDate="2016-11-13T20:37:38" updateDate="2016-11-13T23:21:11" nodeName="Services" urlName="services" path="-1,1053,1057,1060" isDoc="" nodeType="1058" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="0" nodeTypeAlias="textPage">
        <title><![CDATA[Services]]></title>
        <shortDescription><![CDATA[At Your Service]]></shortDescription>
        <service id="1063" key="3c133f3d-f5c9-4059-aac8-38fcd114ad0c" parentID="1060" level="4" creatorID="0" sortOrder="0" createDate="2016-11-13T23:07:33" updateDate="2016-11-16T12:52:07" nodeName="Interiors" urlName="interiors" path="-1,1053,1057,1060,1063" isDoc="" nodeType="1062" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1061" nodeTypeAlias="service">
          <title><![CDATA[Design Concepts]]></title>
          <description><![CDATA[We build very unique designs for individual needs]]></description>
          <backgroundImage><![CDATA[1086]]></backgroundImage>
          <bodyContent><![CDATA[<p><strong>Interior</strong> design is the art and science of enhancing the interiors, sometimes including the exterior, of a space or building, to achieve a healthier and more aesthetically pleasing environment for the end user. An interior designer is someone who plans, researches, coordinates, and manages such projects. Interior design is a multifaceted profession that includes conceptual development, space planning, site inspections, programming, research, communicating with the stakeholders of a project, construction management, and execution of the design.</p>
<p>Interior design is the process of shaping the experience of interior space, through the manipulation of spatial volume as well as surface treatment for the betterment of human functionality.</p>]]></bodyContent>
          <shortDescription><![CDATA[Unique Design Concepts]]></shortDescription>
          <cssClassName><![CDATA[fa fa-4x fa-paint-brush text-primary sr-icons]]></cssClassName>
        </service>
        <service id="1064" key="e6d2ed31-7faf-4761-9431-098be319a13c" parentID="1060" level="4" creatorID="0" sortOrder="1" createDate="2016-11-13T23:08:32" updateDate="2016-11-16T13:02:52" nodeName="Solar" urlName="solar" path="-1,1053,1057,1060,1064" isDoc="" nodeType="1062" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1061" nodeTypeAlias="service">
          <title><![CDATA[Solar ]]></title>
          <description><![CDATA[We will provide solar panels for home and business needs]]></description>
          <backgroundImage><![CDATA[1088]]></backgroundImage>
          <shortDescription><![CDATA[Solar Panes for Home and Business Needs]]></shortDescription>
          <cssClassName><![CDATA[fa fa-4x fa-sun-o text-primary sr-icons]]></cssClassName>
        </service>
        <service id="1065" key="3c67d326-5364-4201-b20b-576f00dbfdd7" parentID="1060" level="4" creatorID="0" sortOrder="2" createDate="2016-11-13T23:09:30" updateDate="2016-11-14T00:45:04" nodeName="Construction" urlName="construction" path="-1,1053,1057,1060,1065" isDoc="" nodeType="1062" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1061" nodeTypeAlias="service">
          <title><![CDATA[Construction]]></title>
          <shortDescription><![CDATA[We update dependencies to keep things fresh.]]></shortDescription>
          <cssClassName><![CDATA[fa fa-4x fa-building-o text-primary sr-icons]]></cssClassName>
        </service>
      </textPage>
      <textPage id="1066" key="b9b73537-5ab8-428e-b066-d822d1dea9e6" parentID="1057" level="3" creatorID="0" sortOrder="2" createDate="2016-11-13T23:14:24" updateDate="2016-11-13T23:21:11" nodeName="Portfolio" urlName="portfolio" path="-1,1053,1057,1066" isDoc="" nodeType="1058" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="0" nodeTypeAlias="textPage">
        <title><![CDATA[Portfolio]]></title>
        <shortDescription><![CDATA[Different Projects Executed by us]]></shortDescription>
        <portfolio id="1072" key="49af4bb3-e51f-40e5-984d-3992a806b81e" parentID="1066" level="4" creatorID="0" sortOrder="0" createDate="2016-11-14T13:25:53" updateDate="2016-11-16T14:09:51" nodeName="Cansa Apartment" urlName="cansa-apartment" path="-1,1053,1057,1066,1072" isDoc="" nodeType="1068" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1067" nodeTypeAlias="portfolio">
          <title><![CDATA[Cansa Apartment]]></title>
          <backgroundImage><![CDATA[1075]]></backgroundImage>
          <bodyContent><![CDATA[<p>A 3HK apartment complete interior.</p>
<p> </p>
<p>Foyer - Shoes Section </p>
<p> </p>]]></bodyContent>
          <shortDescription><![CDATA[Complete Interiors of a 3bhk Apartment]]></shortDescription>
          <images><![CDATA[1075,1076,1077,1078,1079,1080]]></images>
        </portfolio>
        <portfolio id="1081" key="b0682d74-bbb1-4ee6-b80a-1b959e0de467" parentID="1066" level="4" creatorID="0" sortOrder="1" createDate="2016-11-15T12:03:07" updateDate="2016-11-15T12:03:45" nodeName="DLF" urlName="dlf" path="-1,1053,1057,1066,1081" isDoc="" nodeType="1068" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1067" nodeTypeAlias="portfolio">
          <title><![CDATA[DLF]]></title>
          <backgroundImage><![CDATA[1076]]></backgroundImage>
          <shortDescription><![CDATA[2 BHK Complete Interior wood work]]></shortDescription>
        </portfolio>
        <portfolio id="1082" key="1d1fef68-355b-43bb-92a2-166146ad4bd9" parentID="1066" level="4" creatorID="0" sortOrder="2" createDate="2016-11-15T12:04:39" updateDate="2016-11-15T12:04:39" nodeName="Cansa Park" urlName="cansa-park" path="-1,1053,1057,1066,1082" isDoc="" nodeType="1068" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1067" nodeTypeAlias="portfolio">
          <title><![CDATA[Cansa Park]]></title>
          <backgroundImage><![CDATA[1077]]></backgroundImage>
          <shortDescription><![CDATA[3BHK Complete Interior]]></shortDescription>
        </portfolio>
        <portfolio id="1083" key="3b201d63-bd2f-41d3-8e8d-7b4cf84728a8" parentID="1066" level="4" creatorID="0" sortOrder="3" createDate="2016-11-15T12:05:30" updateDate="2016-11-15T12:05:48" nodeName="Salarpuria" urlName="salarpuria" path="-1,1053,1057,1066,1083" isDoc="" nodeType="1068" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1067" nodeTypeAlias="portfolio">
          <title><![CDATA[Salarpuria Magnificient]]></title>
          <backgroundImage><![CDATA[1079]]></backgroundImage>
          <shortDescription><![CDATA[4bhk condo complete work]]></shortDescription>
        </portfolio>
      </textPage>
      <contact id="1071" key="ffe4cfaa-991a-477e-b1af-3541be339f74" parentID="1057" level="3" creatorID="0" sortOrder="3" createDate="2016-11-14T00:56:11" updateDate="2016-11-14T00:59:36" nodeName="Contact" urlName="contact" path="-1,1053,1057,1071" isDoc="" nodeType="1070" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="0" nodeTypeAlias="contact">
        <email><![CDATA[info@denann.in]]></email>
        <subtitle><![CDATA[Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!]]></subtitle>
        <phone><![CDATA[8972381733]]></phone>
        <title><![CDATA[Let's Get In Touch!]]></title>
      </contact>
    </home>
  </site>
</root>