<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/scripts" disableMinification="False">
      <include virtualPath="~https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" />
      <include virtualPath="~/vendor/scrollreveal/scrollreveal.min.js" />
      <include virtualPath="~/vendor/magnific-popup/jquery.magnific-popup.min.js" />
      <include virtualPath="~/js/creative.min.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/styles" disableMinification="False">
      <include virtualPath="~/vendor/bootstrap/css/bootstrap.min.css" />
      <include virtualPath="~/vendor/font-awesome/css/font-awesome.min.css" />
      <include virtualPath="~/vendor/magnific-popup/magnific-popup.css" />
      <include virtualPath="~/css/creative.min.css" />
    </styleBundle>
  </bundles>
</optimus>